<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/vuejs/vue.js"></script>
<script src="/vuejs/main.js"></script>