<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VoiceJJ - Um app simples de voz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <center>
        <form action="/cadastrar" method="POST">
            <h1 class="grande">Cadastro</h1>
            <% if(typeof error !== 'undefined') {%>
            <br>
            <span><%= error %></span>
            <br>
            <% } %>
            <p><font size="48px">Insira seu e-mail, um usuário e sua senha</font></p>
            <label for="email">E-mail: </label>
            <input type="text" id="email" name="email">
            <br>
            <label for="user">Usuário: </label>
            <input type="text" id="user" name="user">
            <br>
            <label for="pass">Senha: </label>
            <input type="password" id="pass" name="pass">
            <br>
            <br>
            <button type="submit" class="btn-inicio" >Pronto</button>
        </form>
    </center>
<script>
</script>
</body>
</html>