{% extends "layouts/master.njk"%}
{% block content%}
<div class="row">
    <div class="col s4 offset-s4">
        <form action="cadastrar" method="POST">
            <h1 class="center grande">Cadastro</h1>
            {% if errors[0] %}
                <p>{{ errors[0].msg }}</p>
            {% endif %}
            <label for="email">E-mail: </label>
            <input type="text" id="email" name="email">
            <br>
            <label for="nome">Usuário: </label>
            <input type="text" id="nome" name="nome">
            <br>
            <label for="pass">Senha: </label>
            <input type="password" id="pass" name="pass">
            <br>
            <br>
            <button type="submit" class="waves-effect waves-light btn" >Pronto</button>
        </form>
</div>
</div>
{% endblock%}