{% extends "layouts/master.njk" %}
{% block content %}
    <center>
        <h1 class="grande">VoiceJJ</h1>
        <p><font size="96px" >Um simples app de voz.</font></p>
        <br />
        <a class="btn-inicio" href="user/login"> Começar agora </a>
        <a class="btn-inicio" href="user/cadastro"> Cadastre-se agora </a>
    </center>
{% endblock %}