<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VoiceJJ - Um app simples de voz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <center>
        <h1 class="grande">VoiceJJ</h1>
        <p><font size="96px" >Um simples app de voz.</font></p>
        <br />
        <a class="btn-inicio" href="login"> Começar agora </a>
        <a class="btn-inicio" href="cadastro"> Cadastre-se agora </a>
    </center>

</body>
</html>