<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VoiceJJ - Um app simples de voz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>E-mail</td>
                <td>Nome de usuário</td>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(details) { %>
                <tr>
                    <td><%= details.email %></td>
                    <td><%= details.user %></td>
                    <td>abacaxi</td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>