{% extends "layouts/master.njk"%}
{% block content%}
<div class="row">
    <div class="col s4 offset-s4">
        <form action="logar" method="POST">
            <h1 class="center grande">Login</h1>
            {% if (error) %}
            <br>
            <span>E-mail e/ou senha incorretos</span>
            <br>
            {% endif %}
            <label for="user">E-mail: </label>
            <input type="text" id="email" name="email">
            <br>
            <label for="pass">Senha: </label>
            <input style="margin-top: 5px" type="password" id="pass" name="pass">
            <br>
            <br>
            <button type="submit" class="grey-text text-lighten-3 grey darken-2 waves-effect waves-light btn">Pronto</button>
        </form>
    </div>
</div>
{% endblock%}