{% extends "layouts/master.njk" %}
  {% block content %}
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="posloader">
  <div id="app">
    <listachat me={{ me }} myname={{ myName }}></listachat>
  </div>
  <div id="modal1" class="modal darken-1 grey-text text-lighten-2">
    <div class="modal-content">
      <h4 style="color:#00cc99 !important">Adicionar amigo</h4>
      <br>
      <label for="add_friend" style="color:#00cc99 !important">Digite o nome de usuário de quem deseja adicionar:</label>
      <br>
      <input style="color:#00cc99 !important" type="text" name="add_friend" id="add_friend">
    </div>
    <div class="modal-footer">
      <a href="#!" class="grey-text text-lighten-3 grey darken-2 modal-close waves-effect waves-green btn-flat" id="friend">Adicionar</a>
    </div>
  </div>
  <div id="modal2" class="modal darken-1 grey-text text-lighten-2">
    <div class="modal-content">
      <h4 style="color:#00cc99 !important">Criar ou entrar em um grupo</h4>
      <br>
      <label for="add_group" style="color:#00cc99 !important">Digite o nome do grupo:</label>
      <br>
      <input style="color:#00cc99 !important" type="text" name="add_group" id="add_group">
    </div>
    <div class="modal-footer">
      <a href="#!" class="grey-text text-lighten-3 grey darken-2 modal-close waves-effect waves-green btn-flat" id="group">Adicionar</a>
    </div>
  </div>
  </div>
  {% endblock %}
  {% block js %}
    <script>
    function arrumarAltura() {
      $(".contmessages").css('height','100vh').css('height','-=' +  ( $(".topside").height() + $(".escrever").height())  +'')
    }
      $(document).ready(function(){
        $(".preloader-wrapper").css("display", "none");
        $(".posloader").css("display", "block");
        $('#modal1').modal()
        $('#modal2').modal()
        $('#friend').click(function(){
          $.ajax({
            url: "/channel/addFriend",
            data: {"friend": $('#add_friend').val()},
            success: function(result){
              if(result == 1){
                alert("Amigo adicionado");
              }
              else{
                alert("Amigo não encontrado");
              }
            }
          });
        });        
        $('#group').click(function(){
          $.ajax({
            url: "/channel/addGroup",
            data: {"group": $('#add_group').val()},
            success: function(result){
              if(result == 1){
                alert("Você entrou no grupo");
              }
              else{
                alert("Você criou o grupo");
              }
            }
          });
        });
      });
    </script>
  {%endblock%}