@font-face {
  font-family: 'product';
  src: url('../font.ttf');
}
body {
	background-color: rgb(77, 77, 77);
	color: #f1f1f1;
	height: 100%;
	font-family: 'product';
	overflow: hidden;
	height:100vh;
	width: 100vw;
	margin: 0px;
	padding: 0;
}
.textochat {
	width: 100%;
	background-color: rgb(121, 117, 117);
	color: #c9c3c3;
	border-radius: 5px;
	padding-right: 7px;
	padding-left: 7px;
	padding-top:4px;
	padding-bottom: 4px;
	height: 50px;
	border: none;
	resize: none;
}
nav {
	padding-left: 10px;
	padding-right: 10px;}
.btngp {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 2px;
	width: 100%;
}
.contmessages {
	height: calc(100vh - 200px);
	overflow-y:auto;
}
.list-users {
	margin-top: 10px;
	height: calc(100vh - 200px);
	overflow-y:auto;
}
.list-groups {
	height: calc(100vh - 200px);
	overflow-y:auto;
}
.posloader {
	display: none;
}
.grouplisttitle , .userlisttitle {
	padding-top: 10px;
}
.center-middle {
	height: max-content;
	text-align: center;
  }
  .btnsend {
	  transition: 0.3s;
  }
  .btnsend:hover {
	background-color: grey;
  }