<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="userlist" id="listausers">
        <div class="tituloUserList" id="userlisttitle">
            <p>Usuários Online</p>
        </div>
            <div class="list-users" id="list-users">
                <a class="usernalista" name="fulano" > Fulano</a>
                <a class="usernalista" name="cicrano" > Cicrano</a>
                <a class="usernalista" name="beltrano" > Beltrano</a>
            </div>
    </div>
    
</body>
</html>